---
const { loc, duration, group, cost, age, class: className } = Astro.props;
---

{
  (
    <div class={"spec " + className}>
      {group && (
        <div class="line">
          <img
            src="/media/icons/people.svg"
            alt="group icon"
            height="21"
            width="21"
          />
          <div class="stat">{group}</div>
        </div>
      )}
      {loc && (
        <div class="line">
          <img
            src="/media/icons/location.svg"
            alt="location icon"
            height="21"
            width="21"
          />
          <div class="stat">{loc}</div>
        </div>
      )}
      {age && (
        <div class="line">
          <img
            src="/media/icons/check-lg.svg"
            alt="Tick"
            id="tick"
            height="21"
            width="21"
          />
          <div class="stat">{age}</div>
        </div>
      )}
      {duration && (
        <div class="line">
          <img
            src="/media/icons/time.svg"
            alt="clock icon"
            height="21"
            width="21"
          />
          <div class="stat">{duration}</div>
        </div>
      )}
      {cost && (
        <div class="line">
          <img
            src="/media/icons/ticket-fill.svg"
            alt="ticket symbol"
            height="21"
            width="21"
          />
          <div class="stat">{cost}</div>
        </div>
      )}
    </div>
  )
}

<style lang="scss">
  .specs {
    display: block;
    flex-wrap: wrap;
    margin-bottom: 5px;
  }
  .line {
    width: max-content;
    display: flex;
    margin: 3px 0;
    img {
      min-width: 21px;
      aspect-ratio: 1 / 1;
      display: block;
      margin: auto 5px auto 0;
      padding: 2px 0;
    }
    .stat {
      font-weight: 500;
      color: #2e2e2e;
      min-width: max-content;
      display: block;
      margin: auto 0;
      font-size: 18px;
    }
  }

  .spec-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 768px) {
    .specs {
      display: block;
      margin-bottom: 8px;
    }
  }
</style>
