---
const { loc, duration, group, cost, age } = Astro.props;
---

{
  (
    <div class="specs">
      {group && (
        <div class="line">
          <img src="/media/icons/people.svg" alt="group icon" />
          <h6>{group}</h6>
        </div>
      )}
      {age && (
        <div class="line">
          <img src="/media/icons/check-lg.svg" alt="Tick" id="tick" />
          <h6>{age}</h6>
        </div>
      )}
      {loc && (
        <div class="line">
          <img src="/media/icons/location.svg" alt="location icon" />
          <h6>{loc}</h6>
        </div>
      )}
      {duration && (
        <div class="line">
          <img src="/media/icons/time.svg" alt="clock icon" />
          <h6>{duration}</h6>
        </div>
      )}
      {cost && (
        <div class="line">
          <img
            src="/media/icons/ticket-fill.svg"
            alt="pound symbol"
            id="cost"
          />
          <h6>{cost}</h6>
        </div>
      )}
    </div>
  )
}

<style lang="scss">
  .specs {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-bottom: 5px;
  }
  .line {
    margin: 0 12px 5px 0;
    width: min-content;
    display: flex;
    img {
      display: block;
      height: 21px;
      margin: auto 5px auto 0;
      padding: 2px 0;
    }
    h6 {
      font-weight: 500;
      color: #2e2e2e;
      display: block;
      min-width: max-content;
      margin: auto 0 1px;
      font-size: 18px;
    }
  }

  #cost,
  #tick {
    height: 17px;
  }

  @media (min-width: 768px) {
    .specs {
      display: block;
    }
  }
</style>
